.minHeight{
    min-height: 80vh;
}
.bodyBackground{
    background-color: #FAFAFA;
}
.beforeFixed{
    margin-top: 64px;
}

a.uk-link-heading:hover, a.uk-link-heading-active{
    background-color: rgba(255, 255, 255, 0.21);
}

.image-logo{
    width: 30px;
    height: 30px;
}

.uk-link-item{
    font-size: .875rem;
    line-height: 1.8;
}

.uk-main-menu{
    width: 90%;
    margin: 0 auto;
}

.uk-cart, .uk-cursor{
    cursor: pointer;
}

.uk-cart > .uk-position-center-right-out{
    top: 0;
    left: 60%;
}

.uk-cart .uk-badge{
    background-color: #ff9800;
    color: #ffffff;
    font-size: 12px;
}

.uk-cart .uk-badge:hover{
    color: #ffffff;
}

.uk-pointer{
    cursor: pointer;
}

.uk-form-group-horizontal > .uk-form-label{
    margin-right: 15px;
    width: 150px;
    min-width: 150px;
}

.uk-width{
    width: 100%;
}

.uk-box{
    width: 120px;
    height: 120px;
}

.uk-background-danger{
    background-color: #f0506e;
}

.uk-light .uk-close{
    color: white;
}

.uk-text-form-danger{
    padding-left: 165px;
}

.uk-height-viewport{
    min-height: 100vh;
    height: 100px;
}

.uk-form-label-middle{
    line-height: 40px;
}

@media (max-width: 960px) { 
    .uk-form-group-horizontal{
        -webkit-flex-direction: column; /* Safari 6.1+ */
        flex-direction: column;
    }
    .uk-form-group-horizontal > .uk-form-label{
        margin-right: 0;
        width: 100%;
        margin-bottom: 8px;
    }
    .uk-text-form-danger{
        padding-left: 0;
    }
}

@media (max-width: 640px) {
    .uk-form-group-horizontal > .uk-form-label{
        margin-right: 0;
        width: 100%;
    }
    .uk-text-form-danger{
        padding-left: 0;
    }
    .uk-width-1-2\@s .uk-margin-left{
        margin-left: 0;    
    }
    .uk-grid-margin-medium, .uk-grid+.uk-grid-medium, .uk-grid-medium>.uk-grid-margin{
        margin-top: 10px;
    }
}

/* SELECT 2 */
.select2-container .select2-selection--single{
    height: 40px;
    border-radius: 0;
    border: 1px solid #e5e5e5;
    outline: none;
}

.select2-container--default .select2-search--dropdown .select2-search__field{
    outline: none;
}

.select2-dropdown { background-color: white; border: 1px solid #ccc; border-radius: 0px; }

.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 40px;
}

.uk-inline .select2-container--default .select2-selection--single .select2-selection__rendered{
    margin-left: 10px;
    padding-left: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 40px;
}
/* END SELECT 2 */

/* PRETTY CHECKBOX */
.pretty label > .uk-text-meta{
    line-height: 0;
    color: inherit;
}
.pretty .state label{
    text-indent: 1.8em;
}
/* END PRETTY CHECKBOX */

/* SLIDER */
.jsr{
    margin: 0;
}
/* END SLIDER */